{% extends 'sql-default.html' %}
{% block content %}
        <h2 class="text-3xl font-semibold my-4">Introduction to SQL</h2>
        <p>SQL is a standard language for accessing and manipulating databases.</p>
        <div class="bg-gray-200 rounded-lg p-4 my-4">
            <h3 class="text-xl font-semibold mb-2">What is SQL?</h3>
            <ul class="list-disc ml-8 my-4 ">
                <li>SQL stands for Structured Query Language</li>
                <li>SQL lets you access and manipulate databases</li>
                <li>SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987</li>
            </ul>
        </div>
        <h3 class="text-xl font-semibold mb-2 my-4">What Can SQL do?</h3>
        <ul class="list-disc ml-8 custom-line my-4">

            <li>SQL can execute queries against a database</li>
            <li>SQL can retrieve data from a database</li>
            <li>SQL can insert records in a database</li>
            <li>SQL can update records in a database</li>
            <li>SQL can delete records from a database</li>
            <li>SQL can create new databases</li>
            <li>SQL can create new tables in a database</li>
            <li>SQL can create stored procedures in a database</li>
            <li>SQL can create views in a database</li>
            <li>SQL can set permissions on tables, procedures, and views</li>
            </ul>

        <div class="bg-green-100 rounded-lg p-10 mb-10">
        <h3 class="text-xl font-semibold mb-2 my-4">RDBMS</h3>

        <p>RDBMS stands for Relational Database Management System.</p>
        <p>RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.</p>
        <p>The data in RDBMS is stored in database objects called tables. A table is a collection of related data entries and it consists of columns and rows.</p></div>

        <h3 class="text-xl font-semibold mb-2 my-4">What is a Table</h3>
        <br>
            <p>Every table is broken up into smaller entities called fields. For Example the fields in the Customers table consist of CustomerID, CustomerName, ContactName, Address, City, PostalCode and Country. A field is a column in a table that is designed to maintain specific information about every record in the table.</p>
            <br>
            <p>A record, also called a row, is each individual entry that exists in a table. For example, there are 91 records in the above Customers table. A record is a horizontal entity in a table.</p>
            <p>A column is a vertical entity in a table that contains all information associated with a specific field in a table.</p>
{% endblock content %}
{% block button %}
    <button onclick="navigateTo('/sql-default', '/sql-default')" class="px-6 py-3 bg-blue-500 text-white rounded-full prev-btn">Previous</button>
    <button onclick="navigateTo('/sql-syntax', '/sql-syntax')" class="px-6 py-3 bg-blue-500 text-white rounded-full ml-auto next-btn">Next</button>
{% endblock button %}
